<?xml version="1.0"?>
<launch>
    <!-- Start robot-control -->
    <include file="$(find robot_control)/launch/start_everything.launch" output="log"/>

    <!-- Start vision -->
    <include file="$(find vision)/launch/vision.launch"/>

    <!-- Start MiR -->
    <include file="$(find mir_api)/launch/mir_api.launch"/>

    <!-- Start MES -->
    <include file="$(find mes_ordering)/launch/mes_ordering.launch"/>

    <!-- Start system manager-->
    <arg name="node_start_delay" default="5.0" />  
    <node name="system_manager" pkg="system_manager" type="system_manager_node" output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' "/>

</launch>